global_defs {
    enable_script_security
}
{% if keepalived_track_process is defined %}
vrrp_track_process track_{{ keepalived_track_process }} {
    process {{ keepalived_track_process }}
    delay 1
}
{% endif %}
{% if keepalivedscript is defined %}
vrrp_script {{ keepalived_script_name }}
  script: {{ keepalived_script_check_command }}
  interval 5
{% endif %}

vrrp_instance LB_VIP {
    interface {{ ansible_default_ipv4.interface }}
    state {{ hostvars[inventory_hostname].keepalived_state | default('backup', true) | upper }}
    priority {{ (ansible_play_hosts | length | int + 100) - (ansible_play_hosts_all.index(inventory_hostname) | int ) }}
    virtual_router_id {{ keepalived_virtual_router_id }} 
    advert_int 1
    authentication {
        auth_type AH
        auth_pass {{ keepalived_key }}
    }
    virtual_ipaddress {
        {{ keepalived_virtual_ip }}
    }
{% if keepalived_track_process is defined%}
    track_process {
        track_{{ keepalived_track_process }}
    }
{% endif %}
{% if keepalived_script is defined %}
    track_script {
      {{ keepalived_script_name }}
    }
}
